body{
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    display: grid;
    grid-template-rows: min-content auto min-content;
    background-color: #eceef1;
}
header{
    display: grid;
    grid: 1fr / 1fr 100px;
    background-color: none;
    padding: 2px 20px;
    align-items: center;
}
header p{
    text-align: right;
    margin-right: 10px;
    font-size: 13px;
}
header button{
    padding: 10px;
    background-color: #0077c5;
    color: white;
    border: 1px solid black;
    box-shadow: none;
    border-radius: 5px;
    height: 40px;
}
.center-content{
    margin: auto;
    width: 30%;
    display: block;
    text-align: center;
}

.center-content > img{
    width: 30%;
}

.center-content > ul{
    display: grid;
    grid: 1fr / repeat(3, 27%);
    margin-left: 8%;
    list-style-type: none;

}

.center-content > ul > li span {
   margin-top: -20px;
}

.center-content > ul img{
    width: 20%;
}

.form-box{
    background-color: white;
    border: 1px solid #eceef1;
    padding: 0 20px;
    color: #4c4c4c;
    display: grid;
    grid: repeat(2, min-content) auto repeat(2, min-content) / auto;
}

.form-box > p > a{
    text-decoration: none;
}

.form-box > form{
    text-align: left;
    display: grid;
    grid: repeat(4, min-content) / auto;
}

.form-box > form > fieldset{
    border: none;
    display: grid;
    grid: 56px 1fr / 1fr;
}
.form-box > form > fieldset > label{
    padding: 10px 0;
}

.form-box > form > fieldset > input{
    width: 100%;
    height: 28px;
    font-size: 17px;
}

.form-box > form > fieldset > button{
    width: 100%;
    padding: 12px 10%;
    background-color: #0077c5;
    color: white;
    border: 1px solid #0077c5;
    box-shadow: none;
    border-radius: 2px;
    height: 50px;
    font-size: 17px;
}